<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998873170319-slfkfa6v6b1rmptbjc1msa868jl1nj17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998873170319-slfkfa6v6b1rmptbjc1msa868jl1nj17</string>
	<key>API_KEY</key>
	<string>AIzaSyCcBTivup_eNTjTXpXM8WxIT7OSI5i4Xyo</string>
	<key>GCM_SENDER_ID</key>
	<string>998873170319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ass</string>
	<key>PROJECT_ID</key>
	<string>abcd-be56b</string>
	<key>STORAGE_BUCKET</key>
	<string>abcd-be56b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998873170319:ios:c6a9c2fa981a032504cbfa</string>
</dict>
</plist>